@import 'styles/variables.scss';

.nav {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $color-dark-grey;
  border-radius: 0 0 10px 0;
  width: 75px;

  &--list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    &-item {
      text-align: center;
      color: $color-white;
      text-decoration: none;
      font-size: 18px;
      width: 100%;
      margin: 5px 0;

      &:hover {
        background: $color-light-blue;
      }
    }

    .active {
      background: $color-light-blue;
    }
  }
}
